<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    
    <main>
      <h1><%= title %></h1>
      <% if (!currentUser) { %>
        <p>Welcome to the Clubhouse!</p>
      <% } else { %>
        <p>Welcome <strong><%= `${currentUser.firstName}  ${currentUser.lastName}` %>!</strong></p>
      <% } %>

      <% if (!allMessages) { %>
      <p>There are no messages</p>
      <% } %>

      <% if (!currentUser || currentUser.isMember !== true) { %>
        <% allMessages.forEach(function(message) { %>
          <div class="message">
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
          </div>
        <% }); %>
      <% } else if (currentUser.isMember === true && currentUser.isAdmin === true) { %>
        <% allMessages.forEach(function(message) { %>
          <div class="message">
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
            <p><%= message.author %> - <%= message.date %></p>
            <button>Delete</button>
          </div>
        <% }); %>

        <% } else if (currentUser.isMember === true) { %>
        <% allMessages.forEach(function(message) { %>
          <div class="message">
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
            <p><%= message.author %> - <%= message.date %></p>
          </div>        
          <% }); %>
      <% } %>
    </main>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>    
  </body>
</html>
